<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.pay.dao.inf.IUserDao" >

	<!-- 基本结果集 -->
	<resultMap type="com.cn.pay.dao.entity.User" id="baseResultMap">
		<id column="id" property="id" />
		<result column="user_name" property="userName" />
		<result column="password" property="password" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>

	<!-- 新增 -->
	<insert id="save" parameterType="com.cn.pay.dao.entity.User" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO users
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userName != null and userName != ''">user_name,</if>
			<if test="password != null and password != ''">password,</if>
			<if test="createTime != null and createTime != ''">create_time,</if>
			<if test="updateTime != null and updateTime != ''">update_time,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userName != null and userName != ''">#{userName},</if>
			<if test="password != null and password != ''">#{password},</if>
			<if test="createTime != null and createTime != ''">#{createTime},</if>
			<if test="updateTime != null and updateTime != ''">#{updateTime},</if>
		</trim>
	</insert>

</mapper>