<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.pay.dao.inf.IUserDao" >

	<!-- 基本结果集 -->
	<resultMap type="com.cn.pay.dao.entity.User" id="baseResultMap">
		<id column="id" property="id" />
		<result column="user_name" property="userName" />
		<result column="password" property="password" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>

	<sql id="comm_sql1">
		u.id,u.user_name,u.password,u.create_time,u.update_time
	</sql>
	<sql id="whereSqlmap">
		<if test="userName != null and userName != ''">and u.user_name = #{userName}</if>
		<if test="id != null and id != ''">and u.id = #{id}</if>
	</sql>
	<!-- 新增 -->
	<insert id="save" parameterType="com.cn.pay.dao.entity.User" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userName != null and userName != ''">user_name,</if>
			<if test="password != null and password != ''">password,</if>
			<if test="createTime != null and createTime != ''">create_time,</if>
			<if test="updateTime != null and updateTime != ''">update_time,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userName != null and userName != ''">#{userName},</if>
			<if test="password != null and password != ''">#{password},</if>
			<if test="createTime != null and createTime != ''">#{createTime},</if>
			<if test="updateTime != null and updateTime != ''">#{updateTime},</if>
		</trim>
	</insert>

	<!--单独查询-->
	<select id="getById" parameterType="com.cn.pay.dao.entity.User" resultMap="baseResultMap">
		SELECT
		<include refid="comm_sql1" />
		FROM user u
		WHERE u.id = #{id}
	</select>

	<!--联合查询-->
	<select id="getByWhere" parameterType="map" resultMap="baseResultMap">
		SELECT
		<include refid="comm_sql1" />
		FROM user u
		<where>
			<include refid="whereSqlmap"></include>
		</where>
	</select>
</mapper>